@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-nanami: 'Lexend Deca', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nanami);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nanami);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* Scroll margin for anchor links to account for fixed header */
section[id] {
  scroll-margin-top: 100px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/* Add gradient animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 2s linear infinite;
  background-size: 200% 200% !important;
}

.animate-gradient-slow {
  animation: gradient 15s ease infinite;
  background-size: 300% 300% !important;
}

.animate-gradient-continuous {
  background-size: 400% auto !important;
  animation: gradient 8s ease-in-out infinite;
}
